.heroImg {
  background-repeat: no-repeat;
  background-size: cover;
}
.heroImgContainer {
  position: relative;
}
.decorationTab {
  position: absolute;
  top: 310px;
  left: -50px;
  z-index: 10;
  display: flex;
}
