.wrapper {
  background-color: #fafafa;
  width: 303px;
  height: 121px;
  flex-shrink: 0;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.icon {
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  background-color: var(--springgreen);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.textBalance {
  color: rgba(17, 16, 28, 0.5);
  font-size: 16px;
  font-weight: 400;
}
.textAmount {
  color: #11101c;
  font-size: 24px;
  font-weight: 700;
}
.textWrapper {
  display: flex;
  align-items: center;
  gap: 22px;
}
.percentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 22px;
  flex-shrink: 0;
  border-radius: 13px;
  background: rgba(2, 177, 90, 0.15);
}
.percentNum {
  color: #02b15a;
  font-size: 12px;
  font-weight: 400;
}
.elementWrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
