@import-normalize; /* bring in normalize.css styles */
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Variables */

:root {
  --springgreen: #0ef387;
  --mediumseagreen: #0ebb69;
  --black: #0c0d0d;
  --darkslategray: #29292b;
  --white: #fff;
  --tomato: #e74a3b;
}

/* CSS Resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Overflow Scroll */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: springgreen;
}

::-webkit-scrollbar-track {
  background-color: #0c0d0d;
  border-radius: 4px;
}

/* Hide Default Calendar & Time Picker */

::-webkit-calendar-picker-indicator {
  display: none;
}

/* Hide spinners in Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Calendar Picker CSS */

/* Custom styling for the calendar picker */
.react-datepicker__current-month {
  color: black; /* Month and year at the top */
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #0c0d0d33;
}

.react-datepicker__header {
  background-color: springgreen;
  padding: 10px;
  border-bottom: none;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: black; /* Text color for day names and numbers */
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: black; /* Selected day background */
  color: white; /* Selected day text color */
  border-radius: 50%; /* Make the selected date a circle */
}

.react-datepicker__day:hover {
  background-color: #222222; /* Hover state for the days */
  color: white; /* Hover state text color */
  border-radius: 50%; /* Make the hover date a circle */
}

.react-datepicker__month-container {
  background-color: springgreen;
}

.react-datepicker {
  font-family: 'Roboto', sans-serif; /* Custom font */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden;
  border: none;
}

.react-datepicker__day--outside-month {
  color: gray;
}

/* BurgerMenu Animation */

@keyframes slideIn {
  from {
    transform: translateX(
      100%
    ); /* Start from outside the right of the screen */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Slide into its final position */
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}
