@import-normalize; /* bring in normalize.css styles */
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Variables */

:root {
  --springgreen: #0ef387;
  --mediumseagreen: #0ebb69;
  --black: #0c0d0d;
  --darkslategray: #29292b;
  --white: #fff;
  --tomato: #e74a3b;
}

/* CSS Resets */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Overflow Scroll */

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: springgreen;
  -webkit-box-shadow: 2 2 2px #feffff;
}

::-webkit-scrollbar-track {
  background-color: #0c0d0d;
  border-radius: 4px;
}
